<div class="contain-to-grid fixed">
<nav class="top-bar" data-topbar> 
	<ul class="title-area"> 
		<li class="name"> <h1><a href="#">GreenWay</a></h1> </li> 
	</ul> 
	<section class="top-bar-section">
		<ul class="right"> 
			<li class="active"><a href="#">Publiez votre annonce</a></li> 
			
		</ul>
		<ul class="left"> 
		<li class="has-form"> 
			<div class="row collapse"> 
				<div class="large-8 small-9 columns"> 
					<input type="text" placeholder="Où allez vous ?"> </div> 
					<div class="large-4 small-3 columns"> 
						<a href="#" class="button success">Chercher</a> 
					</div> 
				</div> 
			</li>
			<li><a href="#">Naviguer</a></li> 
			<li><a href="#">Newsletter</a></li> 
			<li><a href="#">Aide</a></li> 
		</ul> 
	</section> 
</nav>
</div>