<div class="diapo-container">
		<div class="diapo-search">
			<div class="row">
				<div class="small-12">
					<%= image_tag "icons/world.png" %>
					<h2 style="color:white; font-weight: bold; text-align:center;">Vivez Green selon votre destination</h2>
	        		<h4 style="color:white; font-weight: bold; text-align:center;">Plus de X activités vertes dans votre région</h4>
				</div>
			</div>
			<div class="row">	
				<div class="small-12 ">
					<div class="row collapse">
						 <div class="small-12 columns">
		          			<input type="text" class="form-accueil" placeholder="Quelle est votre destination ?">
		        		</div>
	        		</div>
        		</div>
			</div>
		</div>
</div>