<ul class="example-orbit" data-orbit> 
	<li> 
		<%= image_tag "demo/paysage1.jpg" %>
		<div class="orbit-caption"> Caption One. </div> 
	</li> 
	<li> 
		<%= image_tag "demo/paysage2.jpg" %>
		<div class="orbit-caption"> Caption Two. </div> 
	</li> 
	<li> 
		<%= image_tag "demo/parapente.jpg" %>
		<div class="orbit-caption"> Caption Three. </div> 
	</li> 
</ul>