<div class="diapo-container">
		<div class="diapo-search">
			<div class="row">
				<div class="small-12">
					<h2 style="color:white; font-weight: bold; text-align:center;">Vivez Green selon votre destination</h2>
					<h4 style="color:white; font-weight: bold; text-align:center;">Plus de X activités vertes dans votre région</h4>
				</div>
			</div>
			<div class="row">	
				<div class="small-8 large-8 large-offset-2 small-offset-2">
					<div class="row collapse">
						 <div class="small-10 columns">
		          			<input type="text" class="form-accueil" placeholder="Quelle est votre destination ?">
		        		</div>
		        		<div class="small-2 columns">
		         			<a href="#" class="button postfix">Go</a>
		        		</div>
	        		</div>
        		</div>
			</div>
		</div>
</div>