<div class="row">
<h1>Listing clientmails</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientmails.each do |clientmail| %>
      <tr>
        <td><%= clientmail.mail %></td>
        <td><%= link_to 'Edit', edit_clientmail_path(clientmail), class:"button small rounded alert" %></td>
        <td><%= link_to 'Destroy', clientmail, method: :delete, class:"button small rounded alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>