// Place all the styles related to the Clientmails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.success {
	margin: 15px;
	background: #92FF9A;
	text-align: center;
	padding: 20px;
}


.error {
	margin: 15px;
	background: #FFB5B5;
	text-align: center;
	padding: 20px;
}