// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diapo-container {
	background: url(demo/paysage2.jpg);
	background-repeat: none;
	background-size: cover;
	padding: 120px 30px 120px 30px;	
}

.diapo-search {
	margin: auto;
	h1,h2,h3,h4 {
	text-shadow: 1px 1px 2px #333;
	color:white;
	}
}

.form-accueil {
	height: 50px;
}

.rubrique {
	padding:20px;
	text-align: center;

	img {
	width:40%;
	text-align: center;
	}
}